body {background-color: #22202b;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #e4ecfa;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
        margin: 0;}

main{display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5rem 1fr 3rem;
    grid-auto-rows: 40rem;
    grid-template-areas: 
        "header header header header"
        "content content content content"
        "footer footer footer footer";
    justify-content: space-between;
    align-items: center;}

    header{ grid-area: header;
    padding: 0rem;
    margin-bottom: 1rem;
    color: #22202b;
    text-align: right;        
    z-index: 1000;
    position: sticky;
    top: 10px; right: 10px;}
    

        .menu {background-color: #ffffff;
            list-style-type: none;
    display: inline-flex;
    text-align: center;
    border-radius:1rem ;
    align-items: center;
    align-content: space-around;
    justify-content:space-around ;
    height: 3rem;} 

      
    .menu, li {font: weight 300;;
   font-size: 1.2rem;
    margin: 0.5rem 0.4rem 0.5rem 0.4rem;
    display: inline-flex;
    text-decoration: none;
    text-emphasis: none;
    justify-content: center;
    align-items: center;}

            .menu a{text-decoration: none;
              color: #e4ecfa;}

            .menu .header-img{display:inline-flex;
    align-items: center;
    align-content: center;
    justify-content:end ;
    height: 3rem;}

    

    
/*_______________________________________________________________*/


/*Headings*/

h1{font-size: 2rem; 
    font-weight: 700;
    font-family: 'Raleway', sans-serif; color: #A87061;
    margin: 1.2rem 2rem 1rem 2rem;}

h2{font-size: 1.6rem;
    font-weight: 500;
    color:#A87061;
    margin: 1.2rem 2rem 1rem 2rem}
/*______________________________________________________________*/


/*Index*/

#indexbody {background-image: url("../imagenes/CAROUSEL2.jpg");
            background-size: cover;}

#section-index {grid-area: content;
                display: flex;
                justify-content: center;
                align-items: center;}

#carouselExampleIndicators {width: 100%;
                            height: inherit;}
.index{  width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 245, 245, 0.6);}

.index h1{color: #352c44; text-align: center;} 
.index h2{color: #352c44;font-weight: 400; text-align:center} 

@media (max-width:576px){
    .index h1 {font-size: 1.2rem;
    }
    .index h2{font-size: 1rem;}
}

/*_____________________________________________________________*/


/*Portfolio*/  

#section-portfolio {grid-area: content;
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    justify-content: center;}

    .portfolio-texto{text-align: start;
                    margin-top: 3REM;} 

        .portfolio-texto p{font-size: 1.2rem; 
        font-weight: 300;
        margin-left: 2rem;
        margin-right: 2rem;}

   .carousel {width: 100%;
            height: inherit;
            margin-top: 2rem;
            margin-bottom: 2rem;}
             
            .img-carousel {width: 100%;
                height: inherit;}
               
                        
    .portfolio-redes{font-size: 1.2rem;
          font-weight: 300;
          color:#FFFFFF;
           margin-left: 1.5rem;
           margin-right:1.5rem;
            text-align: center}
                            
        .links-redes {font-size: inherit;
            color: #9a98c1;
             font-weight: 500;
             text-decoration: none;}         
             
        .links-redes:hover {text-decoration: none;
                            color: #ffffff}
/*_______________________________________________________________________*/


/* Quien Soy*/
#section-quiensoy {grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;}

.quiensoy-text{font-size: 1rem; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
padding: 1.5rem;
padding-left: 1rem;}

.quiensoy-text h1, .quiensoy-text p{display: block; 
margin: inherit;
padding: inherit;
width: 90%;}

.quiensoy-text a {font-style: italic;}


.quiensoy-image {display: flex;
    background-color: #FFFFFF; 
    justify-content: center ;
    align-items: center;
    margin: 2rem;}

    .quiensoy-image img{width: 10rem;
    height:10rem;
    border-radius:5rem;}


/*    @media (max-width: 576px) {

        .quiensoy-text {
          width: 100%;
        }

        .quiensoy-image{width:100%}

        .quiensoy-image img {width: 15rem;
                height: 15rem;
                border-radius: 7.5rem;}

    }

           
    @media(min-width:577px){
       
        #section-quiensoy {flex-direction: row-reverse;
            justify-content: space-between;
        align-items: center;}

        .quiensoy-text {
          max-width: 50%;
        }

        .quiensoy-image{
            max-width: 50%;
        }
    }
 */



/*______________________________________________________________________*/




/*Contacto*/
/*   
#section-contacto{display: flex;
    grid-area: content;
    flex-direction: row;
     justify-content: space-between;
     align-items: center;
    margin: 5rem 0 5rem 0;}
 
 .contacto-text {width: 50%;
     height:100%;
                 display: inline-block;
                 text-align: left;
                 background-color: #FFFFFF;
                 padding-top: 3rem;
                 padding-bottom: 3rem;
                 margin: 0rem 0rem 2rem 2rem;
                
            @media screen {
                
            }}   
 
      .contacto-text p{font-size: 1.2rem; 
         display: block;
        color: #22202b;
         padding: 0rem 2rem 0rem 2rem}


       .contacto-text .redes {display: inline;}
     
      .contacto-text ul{font-size: 1rem; 
             font-weight: 400;
             display: inline-block; 
             text-align: center; 
             background-color: #FFFFFF;}
         
      .contacto-text h2 {color: #22202b; 
             display: inline;
             padding-left: 0rem;}
         
       .contacto-text a {text-decoration: none; 
             color: #A87061; display: inline;}

 .contacto-form{display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-around;
     flex-wrap: scroll;
      padding: 1.2rem 3rem;}

    .contacto-form .inputs {display:block;
   ;width: 30rem;
     height: 2rem; 
     border-radius: 1rem;
     padding: 1rem;
     box-sizing: border-box;
     background-color: #6e688a;
     color: #FFFFFF;
     border-style: none;}

     #comment {height: 6rem;}

    .contacto-form label{font-size: 1.2rem;
     font-weight: 500;
     color: #A87061;
     margin-top: 1rem;
     margin-bottom: 0.6rem;}

     #enviar {width: 8rem;
     align-content: center;
     background-color: #e2a000;
     color: #FFFFFF;
     height: 2rem;
     border-radius: 1rem;
     border-style: none;
     font-size: 1rem;
     font-weight: 500;
     text-decoration: none;
    margin-top: 1.5rem;}

    #enviar:hover {transition: 200ms;
        background-color: #a5a4cb;}
________________________________________________________________ */


 /*Blog*/

 #section-blog{grid-area: content; 
    display: flex;
    flex-direction:column;
    justify-content: stretch;}

    #section-blog h1{margin-bottom: 1rem 0 1.5rem 0;
                margin-left: 0;
                margin-right: 0;
                padding:1.2rem;
                background-color: #2e2b3b;}

                 .blog-body{display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-around;}  

                    .blog-post{display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-content: stretch;
                   max-height: 1800px; 
                    background-color: #d9d9d9;
                background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%)
                ; overflow-y: scroll;} 

                .container {margin-left: 20px;
                            margin-right: 20px;}

       @media (min-width: 768px){
             .col-md-6 {
                                -ms-flex: 0 0 50%;
                                flex: 0 0 50%;
                                max-width: 43%;
                            
        }


      .blog-text{display:flex;
        flex-direction:column;
        overflow-y:scroll;
        padding:  1.5rem 0rem 0rem}

        /* Hide scrollbar for Chrome, Safari and Opera */
            .blog-text::-webkit-scrollbar {display: none;}

        /* Hide scrollbar for IE and Edge */
           .blog-text {-ms-overflow-style: none;}

            .blog-text h2{display: block;}

            .blog-text p{font-size: 1rem; 
        display: inline-flex;
        color: #22202b;
        padding-left: 2rem;}

       .blog-image {display: block;
    width: 100%;
    height:inherit; 
    align-content: flex-end;
    padding:0;
    margin: 0;
    }

/*Esto lo puse para darme una idea visual de cómo se vería la sección al hacerle click*/
        #seleccion {background-color: #8989bb;
        display: flex;
        flex-wrap: scroll;
        grid-area:post4}

           #seleccion p{color: #22202b;}
        }